<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768111100432-18nf11onadhaj4rjnh1r5r1mo7q7phhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768111100432-18nf11onadhaj4rjnh1r5r1mo7q7phhh</string>
	<key>API_KEY</key>
	<string>AIzaSyDVoDm2avu2oHkObIg5-dJ4rxV59DDpzg8</string>
	<key>GCM_SENDER_ID</key>
	<string>768111100432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mngyuan.ror2Handbook</string>
	<key>PROJECT_ID</key>
	<string>ror2-handbook</string>
	<key>STORAGE_BUCKET</key>
	<string>ror2-handbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768111100432:ios:c35df98668f2ab8eb1c095</string>
	<key>DATABASE_URL</key>
	<string>https://ror2-handbook.firebaseio.com</string>
</dict>
</plist>